    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    html{
        cursor: url('./assets/cursor.png'),auto;
    }
    .background{
        height: 100%;
        width: 100%;
        background: url("./assets/banner.gif");
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
        position: relative;
    }